.container-about {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    background-image: url(../imgs/Kike.JPG);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-around;
    position: relative;
}

.text-about{
    width: 45%;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding: 0.9rem;
}

.text-about > h2 {
    font-size: 3.5rem;
    animation: about linear 3s infinite;
}

.text-about > p {
    font-size: 1.3rem;
    color: #FAFAFA;
    background: #5c0b3b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #472139ee, #4e0c345b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #502740ec, #470c306b); 
    padding: 1rem;
    border-radius: 0 2.5rem 0 2.5rem;
}

.history-container{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
}

.history-container > a {
    text-decoration: none;
    background-color: rgb(73, 7, 73);
    color: white;
    padding: 1rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
}

.history-container > a:hover{
    border-bottom:0.2rem solid rgb(115, 2, 119);
    border-right: 0.2rem solid rgb(115, 2, 119);
    padding: 0.9rem;
}

.container-about > a {
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    color: #db0a81;
    font-weight: bolder;
    font-size: 2.3rem;
}

@keyframes about {
    0%{
        color: #4e042e;
    }
    50%{
        color: #db0a81;
    }
    60%{
        color: #db0a81;
    }
    100%{
        color: #4e042e;
    }
}

@media screen and (max-width: 1094px){
    .history-container>a{
        padding: 1rem .5rem;
    }
}

@media screen and (max-width: 952px){
    .history-container>a{
        padding: 1rem .2rem;
    }
}

@media screen and (max-width: 890px){

    .container-about{
        flex-direction: column;
        align-items: center;
    }

    .text-about{
        width: 90%;
    }

    .history-container{
        font-size: 1.4rem;
        width: 90%;
        height: 40vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .history-container>a{
        width: 60%;
        text-align: center;
        padding: .8rem .8rem;
        animation: aboutMenu 2s infinite;
    }

}

@keyframes aboutMenu {
    0%{
        background: rgb(87,29,101);
        background: linear-gradient(217deg, rgba(87,29,101,1) 26%, rgba(68,18,18,1) 54%, rgba(80,25,121,1) 75%, rgba(49,11,69,1) 85%, rgba(34,5,45,1) 94%, rgba(80,23,100,1) 98%, rgba(171,58,211,1) 100%);
    }

    15%{
        background: rgb(87,29,101);
        background: linear-gradient(217deg, rgba(87,29,101,1) 14%, rgba(68,18,18,1) 40%, rgba(80,25,121,1) 66%, rgba(49,11,69,1) 75%, rgba(34,5,45,1) 83%, rgba(80,23,100,1) 91%, rgba(114,30,144,1) 98%);

    }

    30%{
        background: rgb(87,29,101);
        background: linear-gradient(217deg, rgba(87,29,101,1) 5%, rgba(68,18,18,1) 28%, rgba(80,25,121,1) 52%, rgba(49,11,69,1) 64%, rgba(34,5,45,1) 74%, rgba(80,23,100,1) 83%, rgba(114,30,144,1) 89%);   
    }

    40%{
        background: rgb(68,18,18);
        background: linear-gradient(217deg, rgba(68,18,18,1) 11%, rgba(80,25,121,1) 33%, rgba(49,11,69,1) 46%, rgba(34,5,45,1) 54%, rgba(80,23,100,1) 69%, rgba(114,30,144,1) 77%, rgba(87,29,101,1) 100%);
    }

    50%{
        background: rgb(68,18,18);
        background: linear-gradient(217deg, rgba(68,18,18,1) 0%, rgba(80,25,121,1) 25%, rgba(49,11,69,1) 34%, rgba(34,5,45,1) 47%, rgba(80,23,100,1) 61%, rgba(114,30,144,1) 70%, rgba(87,29,101,1) 88%);
    }

    60%{
        background: rgb(80,25,121);
        background: linear-gradient(217deg, rgba(80,25,121,1) 15%, rgba(49,11,69,1) 23%, rgba(34,5,45,1) 34%, rgba(80,23,100,1) 46%, rgba(114,30,144,1) 55%, rgba(87,29,101,1) 70%, rgba(68,18,18,1) 100%);
    }

    70%{
        background: rgb(80,25,121);
        background: linear-gradient(217deg, rgba(80,25,121,1) 6%, rgba(49,11,69,1) 13%, rgba(34,5,45,1) 22%, rgba(80,23,100,1) 35%, rgba(114,30,144,1) 42%, rgba(87,29,101,1) 49%, rgba(68,18,18,1) 86%);
    }

    80%{
        background: rgb(80,25,121);
        background: linear-gradient(217deg, rgba(80,25,121,1) 0%, rgba(49,11,69,1) 0%, rgba(34,5,45,1) 13%, rgba(80,23,100,1) 25%, rgba(114,30,144,1) 30%, rgba(87,29,101,1) 34%, rgba(68,18,18,1) 65%);
    }

    90%{
        background: rgb(34,5,45);
        background: linear-gradient(217deg, rgba(34,5,45,1) 1%, rgba(80,23,100,1) 5%, rgba(114,30,144,1) 12%, rgba(87,29,101,1) 20%, rgba(68,18,18,1) 45%, rgba(80,25,121,1) 96%, rgba(49,11,69,1) 100%);
    }

    100%{
        background: rgb(87,29,101);
        background: linear-gradient(217deg, rgba(87,29,101,1) 26%, rgba(68,18,18,1) 54%, rgba(80,25,121,1) 75%, rgba(49,11,69,1) 85%, rgba(34,5,45,1) 94%, rgba(80,23,100,1) 98%, rgba(171,58,211,1) 100%);
    }
}