.container-academic{
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/BackgroundAcademic.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-academic > a {
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    color: #db0a81;
    font-weight: bolder;
    font-size: 2.3rem;
}

.academic-information{
    width: 100%;
    height: 100%;
    position: relative;
}

.academic-information > ul{
    position: absolute;
    height: 30rem;
    border-left: 0.2rem solid #fff;
    right: 0%;
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.academic-information > ul > .div-info{
    display: flex;

}

.academic-information > ul > .div-info > span{
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: -4.5%;
}

.academic-information > ul > .div-info > article {
    margin-left: 7%;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

@media screen and (max-width: 397px){
    .academic-information > ul{
        margin-top: 20%;
    }

    .academic-information > ul > .div-info > article{
        margin-left: 10%;
        font-size: 0.8rem;
    }

    .academic-information > ul > .div-info > span{
        left: -6.5%;
    }
}