.zoom{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1000;
    overflow: hidden;
    background: url(../imgs/BGD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.zoom::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 200px;
    background: linear-gradient(transparent, rgb(68, 54, 107));
    bottom: 0%;
    z-index: 100;
}

#graduation{
    position: absolute ;
    width: 47%;
    height: 100%;
    bottom: 0;

}

#text-image{
   position: absolute;
   left: 0;
   bottom: 0;
   width: 50%;
   z-index: 100;
}

.academic-information{
    position: absolute;
    right: 15%;
    top: 3%;
    color: #fff;
    height: 100%;
    
}

.academic-information > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 2px solid #fff;
    position: relative;
    height: 80vh; 
}

.academic-information > ul > div > span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -4.5%;
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    
}

.academic-information > ul > div > span > i {
    color:  rgb(36, 2, 26);
}

.academic-information > ul > div > h4, h6{
    padding: 0;
    margin-left: 7%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

.back {
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    color:  #fff;
    font-weight: bolder;
    font-size: 2.3rem;
    z-index: 1000;
}

.black {
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    color:  rgb(46, 2, 35);
    font-weight: bolder;
    font-size: 2.3rem;
    z-index: 1000;
}

@media screen and (max-width: 550px) {
    
    #graduation{
        display: none;
    }

    .academic-information{
        right: 0;
    }

    .academic-information > ul > div > h4, h6{
        margin-left: 9%;
        font-size: 0.8rem;
    }

    .academic-information > ul > div > span{
        left: -6%;
    }
}

