
.container-home {
    display: flex;
    min-height: 100vh;
    height: 100%;
    background-color: #060707;
    background-image: linear-gradient(to bottom right, rgba(82, 79, 79, 0.795), rgb(0, 0, 0));
}

.home-image{
    width: 40%;
}

.home-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1000;
}

.home-text {
   
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
}

.home-text > h3{
    color: #B91646;
    cursor:pointer; 
    margin: 0;
    font-size: 5rem;
}

.home-text>h4{
    color: #160040;
}

.home-text>h4::before{
    content:'I am Kike Vanegas';
    color: #B91646;
    position: absolute;
    margin-left: 0.3%;
}

.home-text>p{
    font-family: monospace;
    font-size: 1.4rem;
    color: rgb(156, 150, 150);
    margin-top: 8%;
    height: 5%;
}

.home-social {
    width: 10%;
    height: 100vh;
  
}

.home-social > ul {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.home-social > ul > li > a {
    text-decoration: none;
    color: #B91646;
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

.home-social > ul > li > .fa-facebook-f:hover {
    color: #105785;
}

.home-social > ul > li > .fa-twitter:hover {
    color: #1DA1F2;
}
.home-social > ul > li > .fa-youtube:hover {
    color: #FF0000;
}

.home-social > ul > li > .fa-linkedin:hover {
    color: #2867B2;
}

.home-social > ul > li > .fa-instagram:hover {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: #fff;
    font-weight: bolder;
    border-radius: 0.35rem;
}

.home-social > ul > li > .fa-whatsapp:hover {
    color: #25D366;
}

@media screen and (max-width: 881px){
    .home-text>h4::before{
        margin-right: 19.5%;
    }


}

@media screen and (max-width: 775px){
    .home-text>h4::before{
        margin-right: 18.5%;
    }
}

@media screen and (max-width: 727px){
    .home-text>h4::before{
        margin-right: 17.5%;
    }
}

@media screen and (max-width: 685px){
    .home-text>h4::before{
        margin-right: 16.5%;
    }
}

@media screen and (max-width: 667px){
    .home-text>h4::before{
        margin-right: 15.5%;
    }
}

@media screen and (max-width: 650px) {

    .home-text{
        width: 100%;
    }

    .home-text > p{
        height: 20vh;
    }

    .container-home{
        background-image: linear-gradient(to bottom right, rgba(82, 79, 79, 0.678), rgba(0, 0, 0, 0.637)), url(../imgs/self.jpg);
        background-size: cover;
        background-position: center;
    }

    .home-image{
        display: none;
    }

    .container-home{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-social{
        width: 90%;
        height: 60%;
    }

    .home-social>ul{
        flex-direction: row;

    }
    
    .home-text {
        background-image: none;
    }

    .home-text>h4::before{
        margin-right: 0%;
    }
}

@media screen and (max-width: 471px){
    .home-text>h4{
        margin-top: 10%;
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 375px){
    .home-text>h4{
        font-size: 1.5rem;  
    }
}