.title{
    margin: 0 auto;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.title > h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: #db0a81;
}
