*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-skills{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(../imgs/backgroundSkills.png);
    background-size: cover;
    overflow: hidden;
}

.container-skills > a {
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    color: #db0a81;
    font-weight: bolder;
    font-size: 2.3rem;
}

.square{
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.square-row{
    display: flex;
}

.row-icon{
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db0a803b;
    cursor: progress;
}

.row-icon>i{
    font-size: 1.5rem;
}

.loader-bar{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0 50px 50px 0;
}

.loader-effect{
    background-color:#db0a803b;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0 50px 50px 0;
}

.bar-percent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db0a80ef;
}

.bar-percent > h5{
    font-size: 0.5rem;
    font-weight: bolder;
    padding: 0.5rem;
    
}

.animation{
    animation: loading1 2s linear;
    animation-fill-mode: forwards;
}

.additionalText{
    width: 50%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s ease-in-out;
}

.additionalText-Subcontainer{
    width: 100%;
    background-color: rgba(128, 125, 125, 0.616);
    padding: 1rem;
}

.additionalText > .additionalText-Subcontainer > p{
    font-style:italic;
}

@keyframes loading1 {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@media  screen and (max-width: 600px) {

    .container-skills{
        background-image: url(../imgs/backgroundSkills2.png);
        min-height: 100vh;
        height: 100%;
    }

    .square{
        width: 90%;
        margin: 0 auto;
        margin-top: 1.5rem;
    }

    .row-icon{
        background-color: #db0a80f1;
        
    }

    .loader-effect{
        background-color:#db0a80f3;
       
    }

    .information-skills{
        width: 100%;
        margin: 2rem;
        
    }

    .additionalText{
        margin: 0 auto;
        margin-top: 0.9rem;
        width: 100%;
        font-size: 0.7rem;
    }

}