*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-history{
    width: 100%;
    font-family: 'Oswald', sans-serif;
    color: #000;
}

.container-history>h2{
    color: whitesmoke;
    text-align: center;
}

.container-cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}

.container-history > a {
    color: #EC255A;
}

.card{
    width: 15%;
    height: 20rem;
    margin-top: 2rem;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 1rem;
    animation: float 7s linear infinite;
}

.card:nth-child(2){
    animation-delay: 1s;
}
.card:nth-child(3){
    animation-delay: 2s;
}
.card:nth-child(4){
    animation-delay: 3s;
}
.card:nth-child(5){
    animation-delay: 1s;
}
.card:nth-child(6){
    animation-delay: 2s;
}
.card:nth-child(7){
    animation-delay: 3s;
}

.card>img{
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 0.7rem;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.24);;
}

.card>p{
    width: 90%;
    margin-top: 1rem;
    font-size: 1rem;
}

.card > p > i{
    font-size: 1.2rem;
} 

.card > h5 {
    margin: 0 0.3rem;
    font-size: 0.6rem;
}

.card > h4 {
    font-size: 0.7rem;
}

.cursor{
    cursor: pointer;
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-links>a{
    text-decoration: none;
    color: #EC255A;
}

.container-history > a {
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    color: #db0a81;
    font-weight: bolder;
    font-size: 2.3rem;
}

@keyframes float{
    0% {
        transform: rotate(
        0deg) translate3d(5px, 0, 0) rotate(0deg);
    }
    100%{
        transform: rotate(
        360deg) translate3d(5px, 0, 0) rotate(-360deg);
    }
}

@media screen and (max-width: 1138px) {
    
    .card{
        width: 18%;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 994px) {
    .card{
        width: 25%;
    }    
}

@media only screen and (max-width: 724px) {
    .card{
        width: 33%;
    }    
}

@media only screen and (max-width: 560px) {
    .card{
        width: 40%;
    }    
}

@media only screen and (max-width: 465px) {
    
    .card{
        width: 45%;
        margin-right:0;
    }    
    
}

@media only screen and (max-width: 439px) {
    .container-cards {
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 60%;
        margin-right:0;
    }    
    
}